.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1%;
  flex-wrap: wrap;
}

.logoLink {
  margin-right: auto;
}

.headerItemContainer {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
}

.headerBtn {
  font-size: 1.1rem;
  text-transform: capitalize;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
}

.textAlignCenter {
  text-align: center;
}