.headerContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;

  .headerItemContainer {
    display: none;
  }

  @media screen and (min-width: 400px) {
    .headerMenu {
      display: none;
    }
    .headerItemContainer {
      display: flex;
      justify-content: center;
      gap: 0.4rem;
    }
  }
}

.headerBtn {
  font-size: 1.1rem;
  text-transform: capitalize;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
}

.textAlignCenter {
  text-align: center;
}
