.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  flex-wrap: wrap;
  @media screen and (min-width: 370px) {
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.headerItemContainer {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
}

.headerBtn {
  font-size: 1.1rem;
  text-transform: capitalize;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
}

.textAlignCenter {
  text-align: center;
}