.card {
  display: flex;
  width: 70%;
  gap: 20px;
  border: 1px solid white;
  border-radius: 9px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  width: 60%;
}

.title {
  font-style: italic;
  font-size: 23px;
}

.details {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.ratingContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.cardImage {
  cursor: pointer;
  border-radius: 9px;
}
